@import '../../styles/utils.scss';

.btn {
  border: 0;
  background: $purple-60;
  color: $white;
  padding: em(10) em(20);
  border-radius: em(30);
  width: 100%;
  max-width: em(300);
  font-size: em(16);
  &:disabled {
    background: $grey-20;
  }
}